h1 {
    font-family: 'Kaushan Script', cursive;
}

body {
    background-color: azure;
    text-align: center;
}

.lyrics {
    font-family: 'Marvel', sans-serif;

}

.title {
    background-color: hsla(0, 75%, 60%, 0.5);
    border-right: 5px solid;
    border-right-color: hsla(60,100%,50%, 0.8);
}

.lyrics::first-line {
    font-weight: 900;
    font-size:105%;
}

.firestone {
    font-family: 'Kaushan Script', cursive;
    font-size: 110%;
    color:hsl(120, 100%, 8%)
}

i{
    font-size: 100px !important;
}

.musicButton{
    position: fixed;
    bottom: 55%;
    right: 15%;
    width: 10%;
    float: right;
}

.title {
    display: inline-block;
}


i {
    height: 15%;
}

#pauseID {
    display: none;
}

img {
    width: 25%;
    height: 25%;
}

footer {
    font-weight: 100;
    font-size: 11px;
    font-style: italic;
}
