h1 {
    font-family: 'Kaushan Script', cursive;
}

body {
    background-color: azure;
    text-align: center;
}

.lyrics {
    font-family: 'Marvel', sans-serif;

}

.firestone {
    font-size: 110%;
}

.lyrics::first-line {
    font-weight: 600;
}

i{
    font-size: 200px !important;
}

.musicButton{
    position: fixed;
    bottom: 55%;
    right: 15%;
    width: 10%;
    float: right;
}

i {
    height: 15%;
}

#pauseID {
    display: none;
}

img {
    width: 25%;
    height: 25%;
}

footer {
    font-weight: 100;
    font-size: 11px;
    font-style: italic;
}
