body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 16px;
}

span {
    font-size: 18px;
}

.title{
    opacity: 0.75;
    font-weight: 450;
}

.description::first-line {
    font-size: 32px;
}

.l-transform-none {
    text-transform: normal;
}

.l-transform-capitalize {
    text-transform: capitalize;
}

.l-transform-uppercase {
    text-transform: uppercase;
}

.l-transform-lowercase {
    text-transform: lowercase;
}

.t-decoration-none {
    text-decoration: none;
}

.t-decoration-underline-wavy {
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

.t-decoration-overline-red {
    text-decoration: overline;
    text-decoration-color: red;
}

.t-decoration-underline-overline {
    text-decoration-line: underline overline;
}

.t-decoration-linethrough {
    text-decoration-line: line-through;
}

.l-spacing-0 {
    letter-spacing: 0px;
}

.l-spacing-5 {
    letter-spacing: 5px;
}

.l-spacing--2 {
    letter-spacing: -2px;
}

.l-spacing-1cm {
    letter-spacing: 1cm;
}

.f-style-normal {
    font-style: normal;
}

.f-style-italic {
    font-style: italic;
}

.f-style-oblique {
    font-style: oblique;
}

.f-style-initial {
    font-style: initial;
}

.f-style-inherit {
    font-style: inherit;
}

.f-weight-normal {
    font-weight: normal;
}

.f-weight-bold {
    font-weight: bold;
}

.f-weight-lighter {
    font-weight: lighter;
}

.f-weight-bolder {
    font-weight: bolder;
}

.f-weight-100 {
    font-weight: 100;
}

.f-weight-200 {
    font-weight: 200;
}

.f-weight-300 {
    font-weight: 300;
}

.f-weight-400 {
    font-weight: 400;
}

.f-weight-500 {
    font-weight: 500;
}

.f-weight-600 {
    font-weight: 600;
}

.f-weight-700 {
    font-weight: 700;
}

.f-weight-800 {
    font-weight: 800;
}

.f-weight-900 {
    font-weight: 900;
}

.outer+p {
    font-size: 26px;
}

.outer {
    margin: 65px;
}